.vscode

# Client Public Private Keys
/operations/operations_testing/desktopPrivate.pem
/operations/operations_testing/desktopPublic.pem
desktopPrivate.pem
desktopPublic.pem

#database
/operations/database/